* {
    margin: 0;
    padding: 0;
}

html, body {
    z-index: 1;
    height: 100%;
}

.div-relative {
    position: relative;
}

.backGround {
    z-index: -1;
    width: 100%;
    height: 100%;
}

.search-div {
    font-family: Arial Microsoft YaHei Ui;
    font-size: medium;
    z-index: 5;
    position: absolute;
    min-height: 44px;
    width: 70%;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 300px);
    background: url("icon/search.png") no-repeat 3px center;
    opacity: 100;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.search-div-fade-in {
    opacity: 0;
    filter: alpha(opacity=0);
}

.search-input {
    margin: 0;
    padding-left: 45px;
    width: 100%;
    height: 44px;
    line-height: 44px;
    color: aliceblue;
    background: rgba(0, 0, 0, 0);
    border: 0;
    font-size: 24px;
    outline-style: none;
    border-radius: 5px;
}

input::placeholder {
    color: rgba(240, 248, 255, 0.5);
}

input:focus::placeholder {
    color: rgba(240, 248, 255, 0.5);
    user-select: none;
}

input, button:active {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1), 0 0 8px rgba(102, 175, 233, .6)
}

.hello {
    top: 20%;
    font-size: 50px;
    font-family: 'Microsoft YaHei';
    text-align: center;
    color: rgba(245, 245, 220, 0.8);
    z-index: 2;
    position: relative;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0ms;
    user-select: none;
}

.hello-div-top {
    top: 20%;
    font-size: 50px;
}

.hello-div-center {
    padding-left: 15%;
    padding-right: 15%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 62px;
}

.weather-div {
    z-index: 3;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 10px;
    right: 20px;
}

.first-row {
    display: flex;
}

.second-row {
    height: 35px;
}

.weather-text {
    line-height: 35px;
    font-family: 'Microsoft YaHei';
    font-size: medium;
    color: aliceblue;
    padding: 0 0;
    text-align: right;
    float: right;
}

.location-div {
    bottom: 0;
    height: 35px;
    width: 35px;
    background: url("icon/location.png") no-repeat center;
    float: right;
    margin-left: auto;
}

.weather-icon {
    flex: none;
    height: 100px;
    width: 100px;
    bottom: 0;
}

.temp-text {
    line-height: 100px;
    padding: 0;
    vertical-align: auto;
    flex: 1;
    font-family: 'Microsoft YaHei';
    font-size: 64px;
    color: aliceblue;
}

.copyright-div {
    z-index: 4;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 10px;
    left: 20px;
}

.copyright-text {
    font-family: consolas;
    color: rgba(240, 248, 255, 0.6);
}

.setting-btn {
    background: url("/icon/setting.png");
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    width: 32px;
    height: 32px;
    top: 10px;
    right: 20px;
}

.dialog-div {
    z-index: 10;
    border: 0px;
    border-radius: 7px;
    position: absolute;
    margin: 0;
    padding: 16px;
    border: 0;
    height: auto;
    backdrop-filter: blur(15px);
    /* 设置背景半透明黑色 */
    background: rgba(0, 0, 0, 0.2);
}

.dialog-div>button {
    z-index: 11;
    width: 150px;
    height: 35px;
    border-radius: 3px;
    outline: none;
    border: none;
    color: cadetblue;
    margin: 2px;
    font-family: consolas;
    font-size: medium;
    line-height: 35px;
}

.dialog-title {
    float: left;
    height: 32px;
    font-family: consolas;
    line-height: 32px;
    font-size: x-large;
    color: aqua;
}

.close-btn-div {
    height: 32px;
    z-index: 5;
}

button:active {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1), 0 0 8px rgba(102, 175, 233, .6)
}

.close-btn-div>button {
    outline: none;
    vertical-align: center;
    margin-right: auto;
    width: 32px;
    height: 32px;
    float: right;
    top: 0;
    border: 0px;
    background: url("icon/close.png");
}

.setting-form-div {
    height: 53px;
}

.setting-form-div>label {
    width: auto;
    height: 33px;
    margin: 10px;
    color: aqua;
    font-size: large;
    font-family: consolas;
    line-height: 33px;
    float: left;
}

.setting-form-div>input {
    border-radius: 2px;
    height: 33px;
    color: aqua;
    float: right;
    margin: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 0;
    outline-style: none;
    width: auto;
    padding-left: 5px;
}

.setting-form-div>input::placeholder {
    font-family: consolas;
}

.bookmark-container-div {
    z-index: 4;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 90px;
    opacity: 100;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.bookmark-div {
    padding: 2px;
    margin-left: 10px;
    margin-right: 10px;
    width: 120px;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    border: 0;
    outline: none;
    border-radius: 5px;
    flex-shrink: 0;
}

.bookmark-div-content-btn {
    height: 60px;
    width: 60px;
    left: 50%;
    top: 50%;
    transform: translate(30px,15px);
    vertical-align: center;
    background: url("../icon/add.svg")no-repeat 0px center;
}

.bookmark-action-btn {
    z-index: 5;
    top: 0;
    float: right;
    border: 0;
    border-radius: 2px;
    outline: none;
    background: none;
    opacity: 0;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0ms;
}

.bookmark-action-icon-div {
    width: 24px;
    height: 24px;
    padding-right: 2px;
    background: url("../icon/more.svg")no-repeat center;
}

.bookmark-main-div {
    padding: 12px;
    width: 96px;
    height: 66px;
}

.bookmark-div:hover .bookmark-action-btn {
    opacity: 100;
}

.bookmark-main-div:active {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1), 0 0 8px rgba(102, 175, 233, .6)
}

.bookmark-icon {
    margin-top: 8px;
    width: 32px;
    height: 32px;
    left: 50%;
    transform: translateX(100%);
    background-size: contain;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*去边框*/

img[src=""] {
    opacity: 0;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}

.bookmark-title {
    margin-top: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    font-family: Microsoft YaHei;
    font-size: medium;
    color: aqua;
    bottom: 0px;
}