<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        new tab page
    </title>
    <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
    <link href="css/stylesheet.css" rel="stylesheet" style="text/css" />
</head>

<body class="backGround">
    <div id="app" class="backGround" class="div-relative">
        <div id="vm" class="backGround" v-bind:style="{background: 'url(' + 'https://cn.bing.com' + imageUrl + ')no-repeat 0px center'}"
            class="div-relative">
            <div id="setting-btn-div">
                <button id="setting-btn" class="setting-btn" v-on:click="createSettingDiv"></button>
            </div>
            <div id="hello-div" class="hello">
                {{helloMsg}}<font v-if="showname">{{name}}</font>
            </div>
            <div id="search-container" class="search-div">
                <input id="search-input" name="ser-input" class="search-input" autocomplete="off" tabindex="-1"
                    type="url" placeholder="What do you want to know?" aria-hidden="true">
            </div>
            <div id="bookmark-container" class="bookmark-container-div">
                <div v-if="!isbookmarkfull" id="new-bookmark-btn" class="bookmark-div"
                    v-on:click="createAddBookmarkDiv">
                    <div id="bookmark-btn-content" class="bookmark-div-content-btn"></div>
                </div>
            </div>
            <div id="weather-container" class="weather-div">
                <div id="firstRow" class="first-row">
                    <div id="weatherIcon" class="weather-icon"
                        v-bind:style="{background: 'url('+weatherIconUrl+') no-repeat 0px center'}"></div>
                    <div id="tempText" class="temp-text">{{temp}}</div>
                </div>
                <div id="secondRow" class="second-row">
                    <div id="weather-text" class="weather-text">{{weatherText}}</div>
                    <div id="location-icon" class="location-div"></div>
                </div>
            </div>
            <div id="imgCopyrightDiv" class="copyright-div">
                <a v-bind:href="picCopyRightLink" class="copyright-text">{{picCopyRight}}</a>
            </div>
        </div>
    </div>
    <script src="js/script.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>