<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        new tab page
    </title>
    <script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <link href="../css/stylesheet.css" rel="stylesheet" style="text/css" />
</head>

<body class="background">
    <div id="app" class="background" class="div-relative">
        <div id="vm" class="background" v-bind:style="{background: 'url('+imageUrl+')no-repeat 0px center'}"
            class="div-relative">
            <div id="cover-div" class="cover"></div>
            <div id="setting-btn-div">
                <button id="setting-btn" class="setting-btn" v-on:click="createSettingDiv"></button>
            </div>
            <div id="hello-div" class="hello">
                {{helloMsg}}<font v-if="showname">{{name}}</font>
            </div>
            <div id="search-container" class="search-div">
                <input id="search-input" name="ser-input" class="search-input" autocomplete="off" tabindex="-1"
                    type="url" placeholder="What do you want to know?" aria-hidden="true">
            </div>
            <div id="bookmark-container" class="bookmark-container-div">
                <div v-if="!isbookmarkfull" id="new-bookmark-btn" class="bookmark-div"
                    v-on:click="createAddBookmarkDiv">
                    <div id="bookmark-btn-content" class="bookmark-div-content-btn"></div>
                </div>
            </div>
            <div id="weather-container" class="weather-div">
                <div id="firstRow" class="first-row">
                    <div id="weatherIcon" class="weather-icon"
                        v-bind:style="{background: 'url('+weatherIconUrl+') no-repeat 0px center'}"></div>
                    <div id="tempText" class="temp-text">{{temp}}</div>
                </div>
                <div id="secondRow" class="second-row">
                    <div id="weather-text" class="weather-text">{{weatherText}}</div>
                    <div id="location-icon" class="location-div"></div>
                </div>
            </div>
            <div id="imgCopyrightDiv" class="copyright-div">
                <div class="copyright-text">
                    <a v-bind:href="picCopyRightLink" style="color: rgba(240, 248, 255, 0.6);">{{picCopyRight}}</a>
                </div>
                <button class="change-bck-btn">
                </button>
            </div>
        </div>
    </div>
    <script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>